body {
    background: url("../images/concrete_seamless.png");
}
#logo {
    background: #4aaaa5;
}
nav a {
    color: white;
}

.main {
    margin-top: 20px;
}

.card img {
    height: 200px;
}

h5 {
    background: #4aaaa5;
}